# Base de datos
POSTGRES_DB=granito_db
POSTGRES_USER=granito_user
POSTGRES_PASSWORD=granito_pass

# Flask
FLASK_ENV=development
SECRET_KEY=dev-secret-key-cambiar-en-produccion
JWT_SECRET_KEY=jwt-secret-key-cambiar-en-produccion

# Frontend
VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000

# CORS
CORS_ORIGINS=http://localhost:3000